* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*consolidate to just h1*/
/* main company logo  */
h1 {
    display: inline-block;
    font-size: 48px;
}

/*consolidate h2 attributes*/
/* conthent headings */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Consolidate benefit-lead,brand, and cost, since they are the only h3 attributes*/
/*aside headings*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* no longer need to direct from footer (formerly h2 in footer) */
/* footer heading */
h4 {
    font-size: 20px;
}

/*no need for header h1 */
/*logo shading*/
.seo {
    color: #d9dcd6;
}

/*consolidate to nav*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*change to just ul*/
/* navbar list */
ul {
    list-style-type: none;
}

/*change to just li*/
/* navbar items */
li {
    display: inline-block;
    margin-left: 25px;
}

/* navbar links */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*main top image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    /* turn off background image size and position */   
}

/*.search-engine-optimization and .social-media-marketing imgs*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*.online reputation management img*/
.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*aside container*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

 /* consolidated benefits classes since they are using same style commands.*/
 /*aside text*/
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*cosolidate benefits images with a new class*/
/*aside images*/
.benefits-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*consolidate classes with the same styling*/
/*main content information blocks*/
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* consolidate img under content class instead of three seaperate images */
.content img {
    max-height: 200px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

